python=3.11
gcm_filters
xgcm
cdo
nco
dask
dask-jobqueue
xarray
pandas
cartopy
matplotlib
numpy
netcdf4
zarr
healpix
jupyter
seaborn
cmocean
iris
intake 
intake-esm 
intake-xarray 
python-cdo 
scipy
scikit-image
scikit-learn 
jupyterlab 
spectrum 
easydev 
tqdm 
distributed 
aiohttp 
requests 
fastparquet
trackpy
numba
healpy
pytest
